body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* alinhar o texto */
    text-align: center;
    border-color: black;
}

h1{
    color: rgb(221, 15, 15);
}

#login{
    background-color: rgb(5, 122, 218);
    color: rgb(231, 210, 25);
}

#registre-se{
    background-color: blueviolet;
    color: azure;
}
.copy{
    background-color: blueviolet;
    color: azure;
    font-size: 8px;
}