body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,span{
    color: rgb(231, 10, 10);
}
/* o css funciona em cascata sempre vale o ultimo valor atribuido */
span{
    color: rgba(26, 128, 211, 0.867);
}