body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* alinhar o texto */
    text-align: center;
    border-color: black;
    
}

h1{
    color: rgb(29, 15, 221);
    
}
/* id */
#login{
    background-color: rgb(5, 122, 218);
    color: rgb(231, 210, 25);
}

#registre-se{
    background-color: blueviolet;
    color: azure;
}
/* class */
.copy{
    background-color: blueviolet;
    color: azure;
    font-size: 8px;
    /* maxima largura */
    max-width: 500px;
    /* 0= sem margem encima e em baixo, auto = dividida na direita e na esquerda */
    margin: 0 auto;
    
    
   
}
div{
   background-color: cornflowerblue;
   border-color: aquamarine; 
}
/* selecionar todos os elementos */
*{
    color: rgb(243, 238, 235);
   
}
#contanierExterno{
   border: 5px solid rgba(218, 15, 15, 0.867);
   width: 1890px;
   height: 500px;
   display: flex;
   padding: 30px;
   
   
}

.contanierInterno{
    border: 5px solid rgba(52, 15, 218, 0.867);
    width: 500px;
    height: 200px;
    margin: 30px;
    background-color: blanchedalmond;
    transition: 5000ms;
    
}
.contanierInterno:hover{
    border: 10px solid rgb(18, 18, 19);
    width: 500px;
    height: 200px;
    margin: 30px;
    background-color: blueviolet;
    
}
